{% extends 'base.html' %}



{% block content %}
<a type="button" class="btn btn9 btn-lg" style="color: black;" href='{{ request.META.HTTP_REFERER }}'>Back to Contest Page</a>
    <h1 style="font-family: Candara; color: white;">Add your teams</h1>


<form method='POST' action=''> {% csrf_token %}
	
	<div class="fieldWrapper" style="color: white;">
		{{ formset.as_p }}
	</div>
	<br><button type='submit' class="btn btn2 btn-lg">Update</button> <a type="button" class="btn btn2 btn-lg" style="color: black;" href='{{ object.get_absolute_url }}'>Back</a></button>
</form>

</form>
{% endblock %}