{% extends 'base.html' %}



{% block content %}
<a type="button" class="btn btn9 btn-lg" style="color: black;" href='{{ request.META.HTTP_REFERER }}'>Back to Team List</a>
    <h1 style="font-family: Candara; color: white;">Details of the team</h1>
<p style="font-family: Candara; color: white;"><b>Name of the Team: </b> <i>{{ object.teamName }}</i></p>
    <a type="button" class="btn btn4 btn-lg" style="color: black;" href='{{ object.get_delete_url }}/delete'>Delete</a></button>
    <a type="button" class="btn btn5 btn-lg" style="color: black;" href='{{ object.get_absolute_url }}/person-new'>Create Person</a></button>
    <a type="button" class="btn btn6 btn-lg" style="color: black;" href='{{ object.get_absolute_url }}/person-list'>Person List</a></button>
    <a type="button" class="btn btn6 btn-lg" style="color: black;" href='{{ object.get_absolute_url }}/category-list'>Category List</a></button>
{% endblock %}