{% extends 'base.html' %}



{% block content %}
    
	{% for object in object_list %}
		<div class="container h-100" style="padding-top: 1%;">
			<div class="d-flex h-100">
				<div class="align-self-center mx-auto btn-group-vertical" style="width:800px;" align="left">
					<a type="button" class="btn btn7 btn-lg" style="font-family: Candara; color: black; text-opacity: 100%" href='{{ object.get_absolute_url }}'>
						{{object.teamName}}</a>
				</div>
			</div>
		</div>

	{% endfor %}

	<a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" class>Back to Contest Page</a>

{% endblock %}