{% extends 'base.html' %}



{% block content %}
    <h1 style="color: white;">About</h1>
    <p style="color: white;">Title: {{ object.title }}</p>
    <p style="color: white;">Number of Teams: {{ object.teamCount }} </p>
    <p style="color: white;">Members per Team: {{ object.membersPerTeam }} </p>

<button class="btn btn3 " role="button"> <a href='{{ object.get_edit_url }}'>Edit</a></button>
	<button class="btn btn4 " role="button"> <a href='{{ object.get_delete_url }}'>Delete</a></button>
		<button class="btn btn4 " role="button"> <a href='{{ object.get_absolute_url }}/category-new'>Create Category</a></button>
			<button class="btn btn4 " role="button"> <a href='{{ object.get_absolute_url }}/category-list'>Category List</a></button>
				<button class="btn btn4 " role="button"> <a href='{{ object.get_absolute_url }}/team-new'>Create Team</a></button>
					<button class="btn btn4 " role="button"> <a href='{{ object.get_absolute_url }}/team-list'>Team List</a></button>
{% endblock %}