{% extends 'base.html' %}



{% block content %}
    <h1 style="font-family: Candara; color: white;">About</h1>
<p style="font-family: Candara; color: white;"><b>Title: </b> <i>{{ object.title }}</i></p>
<p style="font-family: Candara; color: white;"><b>Number of Teams: </b> <i>{{ object.teamCount }}</i></p>
<p style="font-family: Candara; color: white;"><b>Members per Team: </b> <i>{{ object.membersPerTeam }}</i></p>

<button class="btn btn3" role="button"> <a class="btn btn3" href='{{ object.get_edit_url }}'>Edit</a></button>
	<button class="btn btn4" role="button"> <a class="btn btn4" href='{{ object.get_delete_url }}'>Delete</a></button>
{% endblock %}